@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkblue;
}

header {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;
}

header > h1 {
    text-align: center;
}

header > p {
    text-align: center;
}

header > p > a {
    color: white;
}

main {
    
}